$primary: #0077b6;
$white: #fff;
$black: #000;
$gray: #666;

$container-width: 1360px;
$header-height: 120px;

$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;
$font-xlarge: 30px;

$space-small: 5px;
$space-medium: 10px;
$space-large: 15px;
$space-xlarge: 32px;

$bold: 600;
